.App{
  background-color: black;
}
.Search-bar{
  display: flex;
  position: relative;
  background-color: cornflowerblue;
  opacity: 0.8;
  width: 100%;
  padding: 20px;
}
.search-input{
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  margin-right: 30px;
  margin-left: 100px;
  background-color: whitesmoke;
}
/* stars */
.colored{
  color:gold;
}
.fas{
  margin-top: 15px;
  font-size: 25px;

}
i{
  cursor: pointer;
}
.movie-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  align-self: flex-start;
}
.card{
  border: 0.5px black solid;
  width: 320px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(255, 153, 0);
  padding: 0 10px;
  margin: 20px 10px;
  
}
.card:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px grey;
}

  


.poster{
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 80%;
 width: 100%;
 /* position: absolute; */
 /* top:0; */
 border-radius: 10px;

 
}
.movie-name{
  color:black;
  font-size: 20px;
  font-weight: bold;
  margin: 2px;
  font-family:monospace;
}
.movie-year{
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 1px;
}
.add-movie{
  border: 0.5px black solid;
  width: 320px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(255, 153, 0);
  display: flex;
  margin: 20px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  background-image: url(https://image.flaticon.com/icons/png/512/32/32360.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
}
.add-movie:hover{
  cursor: pointer;
  box-shadow: grey 5px 5px 5px 5px;
}